<h1>Review#week</h1>

<% @notes.each do | note | %>

  <div class='note-header'>
    <span class='note-title'>

      <%= note.created_at.strftime("%A %H:%M") %>
    </span>
    <span class='note-actions'>


      <%= note.journal.name %> | 

      <%= link_to "Edit", edit_journal_note_path(id:note.id, journal_id:note.journal.id) %>

    </span>
  </div>
  <div class='note-content'>
    <%= note.content %>
  </div>
<% end %>
