<% @notes.group_by{ |n| n.created_at.to_date.cwday }.each do | cwday, notes | %>
  <h1 style="text-align:right">
    <%= notes.first.created_at.strftime("%A, %B %-d") %> 
  </h1>
  <% notes.each do | note | %>

    <div class='note-header'>
      <strong>
        <%= note.journal.name %>
      </strong>
      <span class='note-actions'>
        <%= link_to "Edit", edit_journal_note_path(id:note.id, journal_id:note.journal.id) %>
      </span>
    </div>
    <div class='note-content'>
      <%= note.content %>
    </div>
  <% end %>
<% end %>
