<h1>Notes#edit</h1>


<%= form_with model: @note, url: journal_note_path(@note, journal_id: @note.journal_id) do |form| %>
  <div class="field">
    <%= form.rich_text_area :content %>
  </div>
  <div style="text-align:right">
    <%= form.submit "Update", class: "button" %>
  </div>
<% end %>
