<h1>Add to <%= @journal.name%></h1>



<%= form_with model: @note, url: journal_notes_path(journal_id: @journal_id) do |form| %>
  <div class="field">
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit "Create" %>
<% end %>
