<h1>New Inbox Item</h1>



<%= form_with model: @item, url: inbox_index_path(@item) do |form| %>
  <div class="field">
    <%= form.rich_text_area :content, data: { controller: "mentions", target:"mentions.field"} %>
  </div>
  <div style="text-align: right">
    <%= form.submit "Add Inbox Item", class: "button input"  %>
  </div>
<% end %>
