<h1>Journals</h1>

<% @groups.each do | category, journals | %>
  <div>
    <strong>
      <%= category.present? ? category.name : "Other" %>
    </strong>
  </div>

  <ul>
    <% journals.each do | journal |%>
      <% journal_class = "mute" if journal.is_cold? %>
      <li class="<%= journal_class %>">
        <%= link_to journal.name, journal_path(journal) %>
      </li>
    <% end %>
  </ul>
<% end %>
