//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-editor {
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

trix-toolbar {
  .trix-button-group {
    border: none;
    margin-bottom: 0.2em;
    margin-left: 0 !important;
  }
  .trix-button {
    border: none !important;
  }


  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}


.trix-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  .mention {
    a {
      /*color: #cd2e29;*/

      color: inherit;
      font-style: italic;
    }

    a:hover {
      border-bottom-color: inherit;
    }
  }


  p, div {
    margin: 0;
  }

  blockquote {
    color: #6a737d;
  }

  h1 {
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
  }

  ul, ol {
    margin: 0.65em 0 0.9em;
    padding-left: 2em;
    list-style: disc;
  }

  ul li, ol li {
    margin-top: 0.3em;
    margin-left: 0;
  }
}
