/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  color: #283c46;
  padding:0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.7em;
  text-align: center;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
  border-radius: 40px;
}





.trix-content {
}


.trix-content h1 {
font-size: 1.2em;
margin: 0 0 0.5em;
}

.trix-content p, .trix-content div {
  margin: 0;
}



.trix-content ul, .trix-content ol {
  margin: 0.65em 0 0.9em;
  padding-left: 2em;
  list-style: disc;
}

.trix-content ul li, .trix-content ol li {
  margin-top: 0.3em;
  margin-left: 0;
}

.trix-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}



.note-header {
    display: block;
    border-top: 1px silver solid;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.5em;

  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.note-header .note-actions {
  text-align: right;
}

.note-content {
  padding: 1em 0em;

}
